@import 'bourbon'
@import 'vars'
@import 'libs'
@import 'base'

//Custom styles here

//top-line
.top-line
  .logo
    padding: 11px 0
  .contacts__phone
    padding-top: 18px
    margin-bottom: 8px
    text-align: right
    line-height: 24px
    font-size: 24px
    font-weight: 700
  .contacts__comment
    margin-top: 0
    margin-bottom: 5px
    text-align: right
    font-size: 12px
    line-height: 12px
    color: #999
  .contacts__workTime
    margin-top: 0
    margin-bottom: 5px
    font-weight: 500
    font-size: 14px
    line-height: 14px
    text-align: right
  .map-link
    margin-top: 40px
    text-align: center
    a
      padding-bottom: 5px
      font-weight: 500
      font-size: 14px
      line-height: 14px
      color: #d12435
      border-bottom: 1px dashed #d12435
    a:hover,
    a:focus
      text-decoration: none
  .call-me
    margin-top: 30px

.btn-top-line
  @include default-btn(220px, 40px)
  font-weight: 400
  color: #262626
  background-color: #fff
  border: 2px solid #d12435
  text-transform: none
  &:hover
    color: #fff
    background-color: #d12435
    transition: .3s

//main-navigation
.main-navigation
  background-color: #222
.main-navigation__wrap
  display: flex
  min-height: 50px
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
.main-navigation__item
  position: relative
  display: inline-block
  flex-grow: 1
  text-align: center
  a
    font-size: 12px
    font-weight: 400
    color: #fff
  a:hover,
  a:focus
    text-decoration: none
    color: #d12435
.main-navigation__item::after
  position: absolute
  content: ''
  top: 12px
  right: -2px
  width: 4px
  height: 4px
  background-color: #d12435
  border-radius: 50%
.main-navigation__item:last-child::after
  display: none

//top-banner
.top-banner
  position: relative
  margin: 0
.top-banner__slider
  height: 500px
  margin: 0
.top-banner__slide
  height: 500px
  opacity: .9
  background-repeat: no-repeat
  background-size: cover
.top-banner__slide--1
  background: url(../img/bg_header-1.jpg)
  background-position: center
.top-banner__slide--2
  background: url(../img/bg_header-2.jpg)
  background-position: center
.top-banner__slide--3
  background: url(../img/bg_header-3.jpg)
  background-position: center
.top-banner__content
  display: flex
  flex-direction: column
  text-align: center
  padding-top: 90px
.top-banner__content
  position: absolute
  width: 100%
  top: 0
  h1
    margin-bottom: 20px
    font-family: 'pfagoraslabpro', sans-serif
    text-transform: uppercase
    font-size: 40px
    line-height: 50px
    color: #fff
    font-weight: 900
  span
    padding: 2px 20px
    background-color: #e8474b
  p
    margin-bottom: 65px
    font-size: 24px
    line-height: 30px
    font-weight: 500
    color: #fff
.btn--top-banner
  @include form-btn(460px, 54px)
  align-self: center

//advantages section
.advantages
  padding-top: 80px
  padding-bottom: 55px
.advantages__header
  margin-bottom: 16px
  text-align: center
  span
    color: #e8474b
.advantages__description
  margin-bottom: 55px
  font-size: 16px
  line-height: 26px
  text-align: center
  span
    font-weight: 700
.advantages-item
  //height: 252px
  margin-bottom: 35px
  display: flex
  flex-direction: column
  align-items: center
  .item-image-wrapper
    display: flex
    position: relative
    width: 140px
    height: 140px
    border: 3px solid #e8474b
    border-radius: 50%
    justify-content: center
    align-items: center
  .item-number
    position: absolute
    top: 32px
    left: -5px
    z-index: 2
    font-family: 'pfagoraslabpro', sans-serif
    font-size: 18px
    font-weight: 900
    line-height: 24px
    background-color: #fff
  p
    text-align: center
    span
      font-weight: 700

//services section
.services
  padding: 80px 0
.services__header
  margin-bottom: 14px
  text-align: center
  span
    color: #e8474b
.services__description
  margin-bottom: 60px
  text-align: center
  span
    font-weight: 700
.services__item
  p
    font-family: 'pfagoraslabpro', sans-serif
    font-weight: 700
    line-height: 21px
    text-align: center
.services__img-wrapper
  display: flex
  min-height: 160px
  justify-content: center
  align-items: center

//awards
.awards
  padding: 70px 0
.awards-item
  outline: none
.awards__header
  margin-bottom: 50px
  text-align: center
  span
    color: #e8474b
.awards-item__frame
  width: 220px
  height: 300px
  padding: 10px
  margin: 0 auto
  background-image: url('../img/frame.png')
  background-repeat: no-repeat
  background-size: 100%
  background-origin: padding-box
.awards-item__image
  width: 100%
  height: auto

//request
.request
  padding: 75px 0
  background: url('../img/bg_request-form.jpg')
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  &__header
    margin-top: 0
    margin-bottom: 15px
    text-align: center
    color: #fff
    span
      color: #e8474b
  &__description
    margin-bottom: 36px
    color: #fff
    text-align: center

.request-form
  &__input
    @include form-field(100%, 54px)
    padding-left: 25px
    font-size: 14px
    color: #818181
    border: 1px solid #999
  &__btn
    @include form-btn(100%, 54px)
    background-color: $btn-red-bg
    color: #fff
    &:hover
      background-color: $btn-red-bg-hover

//main-footer
.main-footer
  &__map
    display: flex
    //flex-direction: сolumn
    justify-content: center
    height: 550px
    background: url('../img/map.jpg')
    background-repeat: no-repeat
    background-position: center center
    .contacts
      position: relative
      width: 500px
      height: 240px
      padding: 36px 30px 5px 30px
      text-align: center
      background-color: #e8474b
      h2
        color: #fff
      p
        line-height: 26px
        color: #fff
      .call-link
        font-weight: 700
        color: #fff
        border-bottom: 1px dashed #fff
      .call-link:focus,
      .call-link:hover
        text-decoration: none
    .contacts::after
      position: absolute
      left: 0
      bottom: -40px
      content: ''
      width: 0
      height: 0
      border-left: 250px solid transparent
      border-right: 250px solid transparent
      border-top: 40px solid #e8474b
  .bottom-line
    padding: 16px 0
    font-size: 14px
    background-color: #222
    color: #888
    text-align: center

//@import 'media'
